*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(135deg,#0F172A,#1E3A8A,#111827);
    color:white;
    line-height:1.8;
}

/* ===========================
Stilos Navbar
=========================== */

.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background: #1E3A8A;
    padding: 15px 30px;
    border-radius:12px;
    flex-wrap:wrap;
    gap: 15px;
}

.navbar .logo{
    color: #d4a017;
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.nav-links a:hover{
    color: #f7c948
}
/* ===========================
   TITULO
=========================== */

h1{
    text-align:center;
    font-size:55px;
    color:#FFD700;
    margin:30px;
    text-transform:uppercase;
    letter-spacing:3px;
    text-shadow:0 0 20px gold;
}

h2{
    color:#00E5FF;
    margin-bottom:15px;
}

h3{
    color:#d8d8d8;
    font-weight:300;
    margin-bottom:10px;
}

/* ===========================
   PARRAFOS
=========================== */

p{
    width:80%;
    margin:auto;
    background:#ffffff15;
    padding:20px;
    border-radius:15px;
    text-align:justify;
    backdrop-filter:blur(8px);
}

/* ===========================
   TEXTO EN NEGRITAS
=========================== */

b{
    display:block;
    width:80%;
    margin:30px auto;
    padding:20px;
    border-left:6px solid #FFD700;
    background:#ffffff10;
    border-radius:10px;
    font-size:18px;
}

/* ===========================
   SECCIONES
=========================== */

section{
    width:85%;
    margin:40px auto;
    background:#ffffff10;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
    transition:.4s;
}

section:hover{
    transform:translateY(-8px);
}

/*== Servicios ==*/

.contenedor-servicios{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
/* Sireve*/
.elegirnos{
    background: #1b3f7a;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #d4a017;
}

.elegirnos h2{
    color: #f7c948;
    margin-bottom: 20px;
    border-bottom: 2px solid #f7c948;
    padding-bottom: 10px;
}

.contenedor-tarjeta{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tarjeta{
    width: 250px;
    background: #2d5aa7;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #f7c948;
    box-shadow: 0 0 15px rgba(247, 201, 72, 0.3);
    text-align: center;
    color: white;
    transition: 0.3s;
}

.tarjeta:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(247, 201, 72, 0.7);
}

.tarjeta p{
    color: #ffffff;
}

/* Computadora*/
.tarjeta p{
    background-color:rgb(53, 248, 141);
    color: #000;
    padding: 10px;
}

/* Celulares*/
@media (max-width: 769px) {
    .tarjeta p{
        background-color: #d4a017;
        color: #000;
    }
}



/* elegirnos*/

.contenedor-cuadros{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cuadro{
    width: 250px;
    background: rgb(68, 78, 188);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(226, 131, 218, 0.2);
    text-align: center;
}

.cuadro h3{
    margin-bottom: 15px;
}

/* ===========================
   BOTON
=========================== */

a{
    display:inline-block;
    margin-bottom:20px;
    padding:12px 25px;
    background:#FFD700;
    color:black;
    text-decoration:none;
    border-radius:50px;
    font-weight:bold;
    transition:.4s;
}

a:hover{
    background:#00E5FF;
    transform:scale(1.1);
}

/* ===========================
   IMAGEN
=========================== */

img{
    display:block;
    margin:20px auto;
    width:350px;
    border-radius:20px;
    border:5px solid white;
    transition:.5s;
    box-shadow:0 0 25px rgba(0,0,0,.7);
}

img:hover{
    transform:scale(1.08) rotate(2deg);
}

/* ===========================
   LISTAS
=========================== */

.listas{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    color: #d4a017;
}


/*Hola mundo javascript*/

.btnSaludar {
    background-color: #1b3f7a;
    color: white;
    padding: 10px 20px;
    border: 15px;
    border-radius: 8px;
    cursor: pointer;
}

#btnSaludar:hover{
    background-color: aquamarine;
}

#contacto{
    background-color: rgb(0, 0, 0);
    color:white;
    padding: 10px 20px;
    border-radius: 8px ;
}

#contacto:hover{
    background-color: blue;
}

/* ===========================
   FOOTER
============================ */

footer{
    background:#000;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
    font-size:18px;
}